#site {
    width: 1024px;
    margin: 0 auto;
}

#topo,
#rodape {
    border: solid 1px #ccc;
    height: 150px;
}

#main>div {
    height: 200px;
}

#esquerda,
#direita {
    background-color: aqua;
}

#conteudo {
    background-color: cornflowerblue;
}

#rodape {
    clear: both;
}

@media screen and (min-width: 992px) {
    #main>div {
        float: left;
        height: 500px;
    }

    #conteudo {

        width: 60%;
    }

    #esquerda,
    #direita {
        width: 20%;
    }
}