#topo,
#rodape {
    border: solid 1px #ccc;
    height: 150px;
}

#esquerda,
#conteudo,
#direita {
    height: 500px;
}

#esquerda,
#direita {
    background-color: aqua;
}

#conteudo {
    background-color: cornflowerblue;
}